.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: black;
}

.navItems {
  display: flex;
  gap: 40px;
}
