div.cardsList {
  margin-top: 50px;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
@media only screen and (min-width: 320px) {
  div.cardsList {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 768px) {
  div.cardsList {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1024px) {
  div.cardsList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.categoryDropdown {
  height: 30px;
}

.card {
  display: flex;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 10px;
  border-radius: 10px;
  justify-content: center;
}

.cardItems {
  margin: 35px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
