.search {
  height: 24px;
}

.searchComp {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  width: min-content;
}

.clear {
  position: absolute;
  right: 0px;
}
